html,
body {
  margin: 0;
  height: 100%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#landingScreen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


button {
  background: rgb(123, 118, 195);
  border: none;
  padding: 10px 20px;
  border: 4px dashed white;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  display: block;
  margin: 20px auto;
}

button:hover {
  background: rgb(100, 95, 175);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
}

.start {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 1px 3px 6px black;
}


.drop-text span {
  display: inline-block;
  margin: 0 10px;
  font-size: 4rem;

  opacity: 1;
  animation: drop 0.9s ease-out forwards;
  animation-delay: calc(var(--i) * 0.35s);
}

@keyframes drop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  60% {
    transform: translateY(20px);
    opacity: 1;
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.screen {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(100%) scale(0.95);
  transition: all 0.8s cubic-bezier(.68, -0.6, .32, 1.6);
  z-index: 1;
  height: 100vh;
}

#setupScreen {
  display: flex;
  height: 100vh;
  background: linear-gradient(90deg, #1e1e1e, #37235a, #1e1e1e);
}



.setUp p {
  color: white;
  justify-content: start;
  font-size: 1.5rem;
}

.setUp button {
  background: white;
  color: black;

}

.leftImgs {
  display: flex;
  flex-direction: column;
  gap: 150px;
  margin-right: 20px;
}

.img4 {
  width: 50px;
  height: 50px;
}

.img3 {
  height: 50px;
  width: 50px;
}

.img2 {
  margin-top: 550px;
  margin-left: 40px;
  left: 20px;
}

#continueBtn {
  background: rgb(123, 118, 195);
  border: none;
  padding: 10px 20px;
  border: 4px dashed white;
  border-radius: 8px;
  color: white;
  font-size: 1.5rem;
  display: block;
  margin: 20px auto;
}

.screen.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 2;
}

.screen.exit-left {
  transform: translateX(-120%);
  opacity: 0;
}

.choice-btn,
.round-btn {
  margin: 5px;
  background-color: #2f3542;
  color: white;
}

.choice-btn.selected,
.round-btn.selected {
  background-color: #2f3542;
}

#countdownScreen {
  background: linear-gradient(90deg, #1e1e1e, #37235a, #1e1e1e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  letter-spacing: 2px;
}

#count {
  font-size: 7rem;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#gameScreen {
  position: absolute;
  background: linear-gradient(90deg, #1e1e1e, #37235a, #1e1e1e);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.top-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}



#contentArea {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

#contentArea img {
  max-width: 90%;
  max-height: 80vh;

  object-fit: contain;
  border-radius: 12px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}




#contentArea video {
  max-width: 90%;
  max-height: 80vh;

  object-fit: contain;
  border-radius: 12px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


#contentArea iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hint {
  margin-top: 20px;
  opacity: 0.8;
}

#camera {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  height: 130px;
  border-radius: 15px;
  object-fit: cover;
  border: 3px solid white;
  z-index: 50;
}

#faceCanvas {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  height: 130px;
  pointer-events: none;
  z-index: 51;
}

#endScreen {
  background: linear-gradient(90deg, #1e1e1e, #37235a, #1e1e1e);
  color: white;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* centers horizontally */
  justify-content: center;
}

.suggestion-box {
  width: 420px;
  margin-top: 70px;
  padding: 30px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  text-align: center;

  color: white;

  transition: transform 0.3s ease;
}

.suggestion-box:hover {
  transform: translateY(-5px);
}

.suggestion-box h2 {
  margin-bottom: 8px;
}

.suggestion-subtext {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.upload-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.upload-label {
  padding: 10px 18px;
  border-radius: 10px;
  background: #6c5ce7;
  cursor: pointer;
  transition: 0.25s;
}

.upload-label:hover {
  background: #574bd6;
}

.upload-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;

  background: #00d4ff;
  color: black;

  font-weight: 600;

  cursor: pointer;

  transition: 0.25s;
}

.upload-btn:hover {
  transform: scale(1.05);
}

.upload-message {
  margin-top: 12px;
  font-size: 14px;
  color: #9be7ff;
}

.rounds {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.players,
.rounds {
  display: flex;
  flex-direction: column;   /* vertical layout */
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.choice-btn,
.round-btn {

  width: 180px;
  height: 50px;

  border-radius: 14px;
  border: 2px solid rgba(255,255,255,0.3);

  font-size: 16px;
  font-weight: 600;
  color: white;

  cursor: pointer;
  transition: all 0.35s ease;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(6px);
}

.choice-btn:hover,
.round-btn:hover {

  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(14px);

  border: 2px solid rgba(255,255,255,0.5);

  transform: translateY(-3px) scale(1.04);

  box-shadow:
    0 10px 25px rgba(0,0,0,0.25),
    inset 0 0 10px rgba(255,255,255,0.25);
}

.choice-btn.selected,
.round-btn.selected {

  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(18px);

  border: 2px solid rgba(255,255,255,0.65);

  box-shadow:
    0 12px 30px rgba(0,0,0,0.35),
    inset 0 0 14px rgba(255,255,255,0.35);

  transform: scale(1.05);
}



.setUp {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 600px;
  border: 5px solid #321f50;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(83, 73, 101, 0.5);
  background: #321f50;
  margin-top: 150px;
  padding-top: 40px;
}